@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Esta é minha aplicação em C#</p>
    <a href="@Url.Action("Index", "Login")"><button>Login</button></a>
    <a href="@Url.Action("Index", "Contatos")"><button>Contato</button></a>

</div>
